@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body
{
	font-family: 'Open Sans', sans-serif;
	background: #ececec;
}

p{
	margin: 0px;
	color: #666;
}

.navbar-default {
    background-color: #eb974e;
	border-bottom: 3px solid #ca7e3c;
	border-radius: 0px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #B16D32;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #ca7e3c;
}
.navbar-default .navbar-nav > li > a{
    color: #fff;
	transition: 0.3s;
}
.navbar-default .navbar-nav > li > a:hover {
	 color: #fff;
    background-color: #ca7e3c;
}

.most{
	border-radius: 3px;
	padding: 8px;
}

.title{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	margin:8px;
	padding: 0px;
	text-shadow: 1px 1px 1px #B16D32;
	float: left;
}

.title_row{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	margin:8px;
	padding: 0px;
	text-shadow: 1px 1px 1px #777;
	float: left;
}

.col-wrap-in{
	background: #fff;
	border-radius: 3px;
	margin: 8px 0px 0px 0px;
	position:relative;
}

.img-col{
	float: left;
	width: 32px;
}


@media screen and (min-width: 768px){
	.carousel-caption {
		right: 0%!important;
		left: 0%!important;
		bottom: 0px;
		padding-bottom: 30px;
	}
}


.carousel-caption{
	text-align: left;
	padding: 10px;
	background: rgba(255,255,255,0.6);
}

.carousel-caption h3{
	color: #333;
	text-shadow: none;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-game{
	border-radius: 3px;
	background: #eb974e;
	color: #fff;
	border-bottom: 3px solid #ca7e3c;
	font-weight: bold;
	text-shadow: 1px 1px 1px #B16D32;
	padding: 10px 20px 10px 20px;
	width:100%;
	transition: 0.3s;
}

.btn-game:hover{
	background: #ca7e3c;
	color: #fff;
}

.starlist{
	position: absolute;
    top: 16px;
    text-align: center;
    left: 0px;
    right: 0px;
    font-size: 10px;
    color: #995e10;
    font-weight: bold;
}

.pop td{
	position: relative;
}

.table{
	margin-bottom: 0px;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: rgba(255,255,255,0.5);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #CA7E3C;
}

.bodem{
	margin-bottom: 15px;
}

.carousel-inner img{
	border-radius: 3px!important;
}

.col-wrap-in a{
	color: #666;
	text-decoration: none;
	display: block;
}

.edit a{
	padding: 12px;
}

.img_placeholder{
	height: 200px;
}

.image {
    display: none;
  position:absolute;
  top:0px;
  z-index:334;
  width:100%;
  left:0px;
}
    
.edit td a:hover + .image {
    display: block!important;
    width:100%!important;
}

.edit tbody > tr > td{
	padding:0px!important;
}
.svg{
	fill: #fff;
}

@media screen and (min-width: 768px){
.carousel-indicators {
    top: 20px;
    right: 20px;
}
}

.carousel-indicators{
	left:auto;
	width: auto;
	
}

.carousel-indicators .active{
	background-color: #3498DB;
	border-color: #3498DB;
}

.carousel-control {
    position: absolute;
    top: 35%;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 15%;
    z-index: 3242;
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.favorieten-btn{
	border-radius: 5px 0px 0px 5px;
	background: #fff;
	border-bottom: 3px solid #d5d5d5;
	margin:10px 0px 10px 10px;
	padding:10px;
	border-left:1px solid #d5d5d5;
	border-right:0px;
	border-top:1px solid #d5d5d5;
	float: left;
	transition: 0.2s;
}

.favorieten-btn:active{
  -webkit-box-shadow: inset 0 3px 5px rgba(123, 123, 123, 0.5);
          box-shadow: inset 0 3px 5px rgba(123, 123, 123, 0.5);
}


textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

.split{
    background: #d5d5d5;
    width: 1px;
    height: 22px;
    float: left;
    margin-top: 10px;
}

.bgsplit{
	background: #fff;
    float: left;
    margin-top: 10px;
    padding-bottom: 10px;
	border-bottom: 3px solid #d5d5d5;
	border-top: 1px solid #d5d5d5;
}

.geschiedenis-btn{
	border-radius: 0px 5px 5px 0px;
	background: #fff;
	border-bottom: 3px solid #d5d5d5;
	margin:10px 0px 10px 0px;
	padding:10px;
	border-left:0px;
	border-right:1px solid #d5d5d5;
	border-top:1px solid #d5d5d5;
	float: left;
	transition: 0.2s;
	
}

.geschiedenis-btn:active{
  -webkit-box-shadow: inset 0 3px 5px rgba(123, 123, 123, 0.5);
          box-shadow: inset 0 3px 5px rgba(123, 123, 123, 0.5);
}

.glyphicon{
	color: #999;
}

.form-control, .knop{
	border-color: #d5d5d5!important;
	border-bottom: 3px solid #d5d5d5;
	padding: 11px;
	transition: 0.2s;
	color: #666;
}

#srch-term{
	padding: 21px;
}

.headsearch{
	margin:10px 0px 0px 0px;
	float: right;
	width: 78%;
}

.headsearchsmall{
	margin:4px 0px 0px 0px;
	float: right;
	width: 80%;
}

.knopsmall{
	border-color: #C78144!important;
	border-bottom: 1px solid #C78144;
	padding: 11px;
	transition: 0.2s;
	border-left: 0px;
}

.float{
	float: left;
}

input[type="text"], textarea {
	outline: none;
	box-shadow:none !important;
}

.formsmall{
	border: 1px solid #C78144!important;
    margin: 0px 10px 0px 10px;
    font-weight: normal;
	color: #666;
}

.formsmall:focus{
	border-right: 0px!important;
}

.knopsmall:hover, .knopsmall:active{
	background: #fff!important;
	box-shadow: none;
}

.carousel{
	margin-bottom: 15px;
}

.meergames{
	    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin: 5px 0px 0px 0px;
    padding: 0px;
    text-shadow: 1px 1px 1px #777;
}

.meergames a{
    color: #fff;
	text-decoration: none;
}